body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: LightCyan;
  text-align: center;
}

.header{
  background-color: Aquamarine;
  font-size: 35px;
  margin-bottom: 20px;
  padding: 20px;
}

table{
  text-align: center;
}
